@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(28 25 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8800;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d87300;
}

/* CUSTOM SCROLLBAR END*/

@font-face {
  font-family: ethnocentric;
  src: url(../public/fonts/ethnocentric.otf);
}

.title {
  @apply text-3xl sm:text-5xl lg:text-6xl font-semibold tracking-wider text-transparent text-center bg-gradient-to-r orangeToRedGradient bg-clip-text font-['ethnocentric'];
}

.orangeToRedGradient {
  @apply from-brandOrange to-brandRed;
}

.cardContainer {
  @apply relative h-32 hover:scale-105 transition-all bg-cover shadow-lg cursor-pointer sm:h-52 min-[1740px]:h-64 aspect-video rounded-xl hover:shadow-2xl;
}

.cardFilter {
  @apply absolute inset-0 items-center justify-center hidden transition-all duration-1000 bg-black bg-opacity-50 rounded-xl group-hover:flex;
}

.cardTitle {
  @apply text-2xl tracking-wider text-center text-white select-none;
}

.inputField{
  @apply w-full p-2 text-lg text-white placeholder-gray-400 bg-gray-700 border border-gray-600 rounded-lg lg:w-96 focus:outline-none;
}